.jobs-section-container {
  display: flex;
  flex-direction: column;
  min-height: 89vh;
}

@media (min-width: 768px) {
  .jobs-section-container {
    flex-direction: row;
    height: 89vh;
  }
}

.jobs-responsive-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .jobs-responsive-container {
    width: 75%;
  }
}

.search-box-container {
  height: 36px;
  width: 350px;
  display: flex;
  align-items: center;
  border: 1px solid #7e858e;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .search-box-container {
    display: none;
  }
}

.search-button {
  outline: none;
  cursor: pointer;
  height: 100%;
  width: 10%;
  background-color: #272727;
  border: none;
}

.search-icon {
  height: 16px;
  width: 16px;
  color: #f1f5f9;
}

.search-input-box {
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
  padding-left: 12px;
  padding-right: 12px;
  background-color: transparent;
  color: #ffffff;
}

.job-cards-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  list-style-type: none;
  gap: 10px;
  padding-left: 0px;
  margin-top: 16px;
}

.no-jobs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  height: 100%;
}

.no-jobs-image {
  height: 250px;
  width: 300px;
}

.no-jobs-heading {
  font: bold 21px 'Roboto';
  margin-bottom: 0px;
}

.no-jobs-description {
  font: 400 12px 'Roboto';
  color: #f1f5f9;
}

.all-jobs-failure-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.all-jobs-failure-image {
  height: 250px;
  width: 300px;
}

@media (min-width: 768px) {
  .no-jobs-image {
    height: 250px;
    width: 350px;
  }
  .all-jobs-failure-image {
    height: 250px;
    width: 350px;
  }
}
